*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.back: {
	position: absolute;
	display: inline;
}

.photo{
	position: absolute;
	width: 220px;
	height:220px;
	display: inline;
	top:0px;
	right:25px;
}

.menubox{
	width: 150px;
    height: 650px;
	background-color: transparent;
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.showbox{
	width: 250px;
	height:300px;
	background-color: transparent;
	border-radius: 50px;
	position: absolute;
	top:200px;
	left:160px;
}

.form{
    margin-top:240px;
    margin-left: 40px;
	position: absolute;
	display: inline;
	color: green;
}

.screen{
	margin-top:240px;
	margin-left: 140px;
	position: absolute;
	display: inline;
	color: red;
}

.Timeshow{
	position: absolute;
	right: 170px;
	bottom: 15px;
}

.real{
	position: absolute;
	right: 100px;
	bottom: 15px;
}

.item{
	position: absolute;
	border: 5px solid red;
	font-size: 20px;
}

#div1{
	left: 200px;
	top:60px;
}

#div2{
	left: 740px;
	bottom: 400px;
    
}

#div3{
	left: 280px;
	bottom: 20px;
}

#div4{
	left: 520px;
	bottom: 100px;
}

#div5{
	left: 600px;
	bottom: 50px;
}

#div6{
	left: 700px;
	top:200px;
}

#div7{
	left: 500px;
	top:40px ;
}

#div8{
	left:430px;
	top: 320px;
}

#div9{
	right:360px;
	bottom: 225px;
}